#header{
    font-family: "Al Bayan";
}
.legends {
    width: 655px;
    margin: auto;
    padding: 20px;
    padding-left: 50px;
    text-align: center;
    float: none;
}

.jumbotron{
    padding-top: 20px;
    padding-bottom: 0px;
    text-align: center;
}
.navigationBar{
    height: 80px;
    padding-bottom: 10px;
    align-content: center;
    margin : 0 auto;
    text-align: center;
    vertical-align: center;
}

button{
    border: none;
    background: none;}

ul {
    display: inline;
    margin: 0 auto;
    /*text-align: center;*/
    list-style-type: none;
    padding: 10px;
    text-align: center;

}
li {
    display: inline-block;
    text-align:center;
}

.codeScreen{
    max-width: 90%;
    margin: auto;
    text-align:center;
    background: #777676;

}
#tableLeft{
    float :left;
    max-width: 50%;
    text-align: center;
    box-shadow: 0 0 5px #777676;


}
#tableRight{
    float: right;
    max-width: 50%;
    text-align: center;
    box-shadow: 0 0 10px #777676;

}

.table-responsive{
    text-align: left;
    padding: 3%;
}


#exactMatch{
    border-left: 10px solid #dc3545;
}

#commentsMatch{
    border-left: 10px solid #ffc107;
}

#movedMatch{
    border-left: 10px solid #28a745;
}

#renamedMatch{
    border-left: 10px solid #428bca;
}

.code-table{
    font-family : Courier;
    line-height: 8px;

}