<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="icon"
          type="image/png"
          href="./img/blackSheep.jpg">
    <meta charset="UTF-8">
    <title>Black Sheep : Configure</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="styleSheets/configure.css"  />

    <script src = "../js/common.js"></script>
    <script src = "../js/configure.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Plagiarism Detector</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#" id="configure">Configure <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="upload">Upload <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="codeStats" href="#">Code Stats</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" id="codeMatch">Code Match<span class="sr-only">(current)</span></a>
            </li>



        </ul>
        <span class="navbar-nav ml-auto navbar-item">
        <a class="nav-link" href="#" id="logOut">Log out</a>
        </span>
    </div>
</nav>

<div class="container justify-content-center mainContent"  style="margin-bottom: 20px">

    <p id="p1">

    </p>

<div class = "header" style="text-align: center">
    <p align="center"><h1>How strict ?</h1></p>
</div>
<br>
<div   id = "rangeValueDisplay" class="value">0</div>
<input id="rangeSelector" type="range" min="0" max="100" step="1" value="0">

</div>

<br>
<div class="container justify-content-center mainContent" >

    <div class="row justify-content-center" >
        <h5>Turn em' on to detect!</h5>
        </div>
    <br><br>
    <div class="row" >

        <div class = "col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <span class="matchType"> CodeMovement</span>
                </div>
                <div class="col-md-4">
                    <label class="switch">
                        <input type="checkbox" value="CodeMovement" class="messageCheckbox" id="CodeChange">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <br>

    <div class="row" >

        <div class = "col-md-6">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    Comments Match
                </div>
                <div class="col-md-4">
                    <label class="switch">
                        <input type="checkbox" value="comments" class="messageCheckbox2" id="CommentChange">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>

        <div class = "col-md-6">
            <div class="row">
                <div class="col-md-8">
                    Structure Match
                </div>
                <div class="col-md-4">
                    <label class="switch">
                        <input type="checkbox" value="structure" class="messageCheckbox3" id="StructureChange">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <br>

</div>
<div class="container">
    <div class ="row justify-content-center">
        <button id= "go" style="width: 100px"> Go!</button>

    </div>


</div>

</body>

<script>

    // window.onload
    // {
    //
    //     function getUrlVars() {
    //         var vars = [], hash;
    //         var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    //         for (var i = 0; i < hashes.length; i++) {
    //             hash = hashes[i].split('=');
    //
    //             if ($.inArray(hash[0], vars) > -1) {
    //                 vars[hash[0]] += "," + hash[1];
    //             }
    //             else {
    //                 vars.push(hash[0]);
    //                 vars[hash[0]] = hash[1];
    //             }
    //         }
    //
    //         return vars;
    //     }
    //
    //    // document.getElementById('userId').value = getUrlVars()["userId"];
    //     //alert(getUrlVars()["userId"]);
    //     $("p").text('test test Rambo');
    // }
</script>
</html>
