<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Configure BlackSheep</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="configPlagiarismPercentage.css"  />

    <script src = "../js/configPlagiarismPercentage.js"></script>
</head>
<body>
<div class="container justify-content-center" style="margin-bottom: 20px">

    <p id="p1">

    </p>

<div class = "header" style="text-align: center">
    <p align="center"><h1>How strict ?</h1></p>
</div>
<br>
<div   id = "rangeValueDisplay" class="value">0</div>
<input id="rangeSelector" type="range" min="0" max="100" step="1" value="0">

</div>

<br>
<br>
<br>
<div class="container justify-content-center">

    <div class="row justify-content-center" >
        <h5>Turn em' on to detect!</h5>
        </div>
    <br><br>
    <div class="row" >

        <div class = "col-md-6">
            <div class="row">
                <div class="col-md-8">
                    <span class="matchType"> CodeMovement</span>
                </div>
                <div class="col-md-4">
                    <label class="switch">
                        <input type="checkbox" value="CodeMovement" class="messageCheckbox" id="CodeChange">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <br>

    <div class="row" >

        <div class = "col-md-6">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    Comments Match
                </div>
                <div class="col-md-4">
                    <label class="switch">
                        <input type="checkbox" value="comments" class="messageCheckbox2" id="CommentChange">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>

        <div class = "col-md-6">
            <div class="row">
                <div class="col-md-8">
                    Structure Match
                </div>
                <div class="col-md-4">
                    <label class="switch">
                        <input type="checkbox" value="structure" class="messageCheckbox3" id="StructureChange">
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>

        </div>
    </div>
    <br>

</div>
<div class="container">
    <div class ="row justify-content-center">
        <button id= "go" style="width: 100px"> Go!</button>

    </div>


</div>

</body>

<script>

    // window.onload
    // {
    //
    //     function getUrlVars() {
    //         var vars = [], hash;
    //         var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
    //         for (var i = 0; i < hashes.length; i++) {
    //             hash = hashes[i].split('=');
    //
    //             if ($.inArray(hash[0], vars) > -1) {
    //                 vars[hash[0]] += "," + hash[1];
    //             }
    //             else {
    //                 vars.push(hash[0]);
    //                 vars[hash[0]] = hash[1];
    //             }
    //         }
    //
    //         return vars;
    //     }
    //
    //    // document.getElementById('userId').value = getUrlVars()["userId"];
    //     //alert(getUrlVars()["userId"]);
    //     $("p").text('test test Rambo');
    // }
</script>
</html>
