<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <!--<link rel="stylesheet/less" type="text/css" href="styles.less" />-->
    <link rel="stylesheet" type="text/css" href="configPlagiarismPercentage.css"  />

    <script src = "../js/configPlagiarismPercentage.js"></script>
</head>
<body>
<div class = "header" style="text-align: center">
    <p align="center"><h1>How strict ?</h1></p>
</div>
<br>
<div   id = "rangeValueDisplay" class="value">0</div>
<input id="rangeSelector" type="range" min="0" max="100" step="1" value="0">

</body>
</html>