<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../js/login.js"></script>
<script type="text/javascript" src="../js/upload.js"></script>
<!------ Include the above in your HEAD tag ---------->
<form>
    <div class="center">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>


                    <button type="submit" class="btn btn-primary" id="login">Submit</button>
                </div>
            </div>
        </div>
    </div>

</form>

<style>
    .center {
        margin: auto;
        width: 50%;
        border: 3px solid lightskyblue;
        padding: 10px;
        position: relative;
        transform: translate(-50%, -50%);
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>