<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon"
          type="image/png"
          href="./img/blackSheep.jpg">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="../js/multipleSubmissions.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">    <title>multiple Submission test</title>
</head>
<body>



<div class="container justify-content-center">
    <div class ="row justify-content-center">
    <label>Add as many submissions as you want.
        <select id="students" class="input-mini required-entry">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
            <option value="12">12</option>
            <option value="13">13</option>
            <option value="14">14</option>
            <option value="15">15</option>
        </select></label>
    </div>

    <div id="addButtonRow">
        <td colspan="4"><center><button class="btn btn-large btn-success add" type="button">Add</button></center></td>
    </div>
    <table class="table table-hover table-bordered "
           align="center" id="studentTable" style="width: 70%; font-size: 14px;">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Student Name</th>
            <th>Project Name</th>
            <th>Directory</th>
            <th>Upload</th>
            <th>Remove</th>


        </tr>
        </thead>
        <tr class="studentRow">
            <td>&nbsp;</td>
            <td>
                <input name="Student" id="studentName" type="text" placeholder="Student" class="required-entry">
            </td>
            <td><input name="Project" id="projectName" type="text" placeholder="Name" class="required-entry">

            </td>
            <td>
                <input type="file" id="directoryFiles"  name="file_input_folder[]" accept=".py"
                       multiple webkitdirectory="" mozdirectory="true" directory="" />

            </td>
            <td>
                <span class="uploadStatus">
                    <button class="btn btn-secondary upload" type="button">Upload</button>
                </span>

            </td>
            <td><button class="btn btn-danger    remove" type="button">Remove</button></td>
        </tr>

    </table>

</div>

</body>
</html>