    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Black Sheep : Upload Files</title>
    <link rel="stylesheet" type="text/css" href="./uploadFiles.css"  />

</head>
<body>

<!--to change-->
<div class="uploadScreen">

    <div class ="headerAboveSplit">
        <h2>Upload Files</h2>

        <div class="split left">
    <div class="centered">
        <h2>Student</h2>
        <form action="/action_page.php">

            <input type="file" name="pic" accept="image/*" >
            <br>
            <div class = "uploadButton">
                <input type="submit" name="Upload">
            </div>
        </form>
    </div>
</div>

<div class="split right">
    <div class="centered">
        <h2>Suspects</h2>
        <form action="/action_page.php">

            <input type="file" name="pic" accept="image/*" >
            <br>
           <div class = "uploadButton">
               <input type="submit" name="Upload">
           </div>
        </form>
    </div>
</div>
</div>
</div>
</body>

</body>
</html>