
<html>

<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"          href="./upload.css"  />
    <script src="../js/upload.js" type="text/javascript"></script>
    <title> Multiple Submission</title>
</head>
<body>

<div class = container">
    <br>
    <div  class = "row justify-content-center">
        <br><br>
        <h1 align="center"> Upload Files</h1>
    </div>
    <br><br><br><br>

    <div class = "row justify-content-center">
        <div class ="col-md-4">
        <h2>Directory  </h2>

            <input type="file" id="directoryFiles"  name="file_input_folder[]"
                   multiple webkitdirectory="" mozdirectory="true" directory="" />

        </div>
        <button onclick="uploadDirectory()" type="button" class="btn btn-light">Upload</button>
    </div>
        </div>

    <br><br>

    <div class = "row justify-content-center">
        <div class ="col-md-4">
            <h2> Multiple Files </h2>
            <input type="file"  id= "multipleFiles" multiple="multiple" />
        </div>
        <button type="button" onclick="uploadMultipleFiles()" class="btn btn-light">Upload</button>

    </div>
    <br>
</div>

<br><br><br>

<div class="row justify-content-center">
    <button type="button"  onclick="redirectToCodeStats()" class="btn btn-secondary btn-lg"> View Code Stats</button>
</div>

<br>
<div class="row justify-content-center">
    <button type="button" onclick="redirectToWelcome()" class="btn btn-secondary btn-lg"> Home </button>
</div>





</body>

</html>