<html xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <link rel="icon"
          type="image/png"
          href="./img/blackSheep.jpg">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" ></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"          href="styleSheets/upload.css"  />

    <script src="../js/common.js" type="text/javascript"></script>
    <script src="../js/upload.js" type="text/javascript"></script>

    <title> Black Sheep : Upload </title>
</head>
<body>
<nav class="navbar navbar-expand-md  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Plagiarism Detector</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" id="configure">Configure <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#" id="upload">Upload <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="codeStats" href="#">Code Stats</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#" id="codeMatch">Code Match<span class="sr-only">(current)</span></a>
            </li>



        </ul>
        <span class="navbar-nav ml-auto navbar-item">
        <a class="nav-link" href="#" id="logOut">Log out</a>
        </span>
    </div>
</nav>


<div class="container justify-content-center">
    <div class ="row justify-content-center">
        <label>Add as many submissions as you want.
            <select id="students" class="input-mini required-entry">
                <option value="1" selected="selected">1</option>
                <option value="2" >2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
            </select></label>
    </div>

    <div id="addButtonRow">
        <td colspan="4"><center><button class="btn btn-large btn-success add" type="button">Add</button></center></td>
    </div>
    <table class="table table-hover table-bordered "
           align="center" id="studentTable" style="width: 70%; font-size: 14px;">
        <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Student Name</th>
            <th>Project Name</th>
            <th>Directory</th>
            <th>Upload</th>
            <th>Remove</th>


        </tr>
        </thead>
        <tr class="studentRow">
            <td>&nbsp;</td>
            <td>
                <input class ="student" name="Student" id="studentName" type="text" placeholder="Student" class="required-entry">
            </td>
            <td><input class ="project" name="Project" id="projectName" type="text" placeholder="Name" class="required-entry">

            </td>
            <td>
                <input  class= "directoryUpload" type="file" id="directoryFiles"  name="file_input_folder[]"
                        multiple webkitdirectory="" mozdirectory="true" directory="" />
            </td>
            <td align="center" valign="middle">
                <span class="uploadStatus">
                    <button class="btn btn-secondary upload" type="button">Upload</button>
                </span>

            </td>
            <td><button class="btn btn-danger    remove" type="button">Remove</button></td>
        </tr>


    </table>


    <div class = "row justify-content-center">
        <button  type="button" id="done" class="btn btn-secondary btn-circle" >
            <span id="buttonText" style="line-height:40px"> <h3>Done!</h3></span>
        </button>
    </div>
</div>


</div>





</body>
</html>


