/*added for centering the container*/
.center_div{
    margin  : 0 auto;
    width   : 80%;
    padding-top: 1%;
    border-radius: 5px;

}

body {
    background: #cc0000;
    color: white;
}

.navbar {
    border-bottom: 1pt solid white;
    /*border-color: transparent;*/
}

input[type="text"], input[type="password"]
{
    border-radius: 5px;
}

fieldset{
    padding-top: 50px;
}

.emailError {
    visibility: hidden;
    display: none;
}