<!DOCTYPE html>
<html>
<head>
    <title>Black Sheep : Login </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--credits to flaticon for free icons-->

    <link rel="icon"
          type="image/png"
          href="./img/blackSheep.jpg">

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="styleSheets/userLogin.css">
    <!--<script src="../js/userLogin.js" type="text/javascript"></script>-->

    <script  type="text/javascript" src="../js/common.js"></script>
    <script  type="text/javascript" src="../js/userLogin.js"></script>

</head>
<body>



<nav class="navbar navbar-expand-md  navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Plagiarism Detector</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">

        <ul class="navbar-nav mr-auto">

            <li class="nav-item">
                <a class="nav-link" id="welcome" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="register" href="#">Register</a>
            </li>

        </ul>
        <span class="navbar-nav ml-auto navbar-item active">
                   <li class="nav-item active">
                    <a class="nav-link" href="#" id="loginScreen">Log in </a>
                </li>
            </span>

    </div>
</nav>

<div class="container splitScreenContent">

    <div class="split left">
        <div class="centered">
            <img src="./img/ta.png" alt="Teaching Assistant" class = img-circle-ta>
            <h2>Teaching Assistant</h2>
            <button id="taSelect"  style="width:auto;"> Select</button>
        </div>
    </div>

    <div class="split right">
        <div class="centered">
            <img src="./img/professor.png" alt="Professor" class = img-circle-ta>
            <h2>Professor</h2>
            <button id="professorSelect" style="width:auto;"> Select</button>
        </div>
    </div>


    <div id="modalLogin" class="modal">

        <div class="modal-content animate">
            <div class="imgcontainer">
                <span onclick="document.getElementById('modalLogin').style.display='none'" class="close" title="Close Modal">&times;</span>
            </div>

            <div class="container">

                <label for="uname"><b>e-mail</b></label>
                <input type="text" placeholder="Enter e-mail" name="uname" id = "uname"required>


                <label for="password" ><b>Password</b></label>
                <input type="password" placeholder="Enter Password" name="password" id="password" required>

                <span id="passwordStatus" style="display: none">*Error! Invalid credentials*</span>


                <button type="submit" id="login">Login</button>
                <label>
                    <input type="checkbox" checked="checked" name="remember"> Remember me
                </label>
            </div>


        </div>
    </div>


</div>



</body>
</html>
