<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>BlackSheep Plagiarism: Welcome</title>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="styleSheets/configure.css"/>

    <script src = "../js/common.js"></script>
    <script src = "../js/welcome.js"></script>

</head>
<body>


<div class="jumbotron" style="background-color: white">
    <h1 class="display-4">Welcome</h1>
    <div class="lead">Black Sheep Plagiarism Detector is awaiting your visit! </div>

</div>
<div class="container justify-content-center mainContent" style="margin-bottom: 20px">

    <div class = "header" style="text-align: center">

        <p align="center"><h1>Hits</h1></p>

    </div>

    <br>
    <div   id = "rangeValueDisplay" class="value">
        <span id="count">0</span>
    </div>

    <div   id = "status" >
        System status:
        <h3>
        <span id="statusText" style="text-align: center">Inactive</span>
        </h3>

    </div>

    <div  id ="redirect">
        <div class ="row justify-content-center">
            <button id= "register" onclick="redirectToUserRegister()" style="width: 100px"> Register</button>
            <button id= "login"    onclick="redirectToLogin()"style="width: 100px">    Login</button>
        </div>

    </div>

</div>

</body>


</html>