.legends {
    width: 655px;
    margin: auto;
    padding: 20px;
}

.table{
    border: 3px white solid;
    border-radius: 20px;
}


body {

    background-color:     #EBE5DF;
    color: black;
    /*font-family: 'Dosis', sans-serif;"*/

}

#codeButton{
    width: 150px;
}