/*added for centering the container*/
.center_div{
    margin  : 0 auto;
    width   : 80%;
    padding-top: 1%;
    border-radius: 5px;

}

body {
    background: white;
    color: black;
}

.navbar {
    border-bottom: 1pt solid white;
    /*border-color: transparent;*/
}



fieldset{
    padding-top: 50px;
}

.emailError {
    visibility: hidden;
    display: none;
}

input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom:  2px solid black;
}